.App {
  text-align: center;
}

.site-layout-content {
  padding: 24px;
}

.layout {
  height: 100vh;
}

.heading {
  float: left;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: .05em;
  margin-left: 24px;
  margin-right: 24px;
  color: aliceblue;
  font-family: 'Kaushan Script', cursive;
}


